:root{
  --mainBrown: #854D27;
  --mainYellow: #F4C95D;
  --mainOrange: #FF9000;
  --mainDark: #3F220F;
  --mainLight: #FBF2C0;
}

body{
  background: var(--mainLight);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.textOrange{
  color: var(--mainOrange)
}
.cart-icon{
  cursor: pointer;
  color: var(--mainOrange);
  font-size: 2rem;
}