:root{
  --mainBrown: #854D27;
  --mainYellow: #F4C95D;
  --mainOrange: #FF9000;
  --mainDark: #3F220F;
  --mainLight: #FBF2C0;
}

body{
  background: var(--mainLight);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-orange{
  color: var(--mainOrange)
}
.cart-icon{
  cursor: pointer;
  color: var(--mainOrange);
  font-size: 2rem;
}

.default-background{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(244,201,93,1), rgba(244,201,93,.5));
  background-position: center;
  background-size: cover;
}

.about-background{
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(244,201,93,1), rgba(244,201,93,.5));
  background-position: center;
  background-size: cover;
}
.btn-yellow{
  color: var(--mainOrange);
  border-color: var(--mainOrange);
  background-color: var(--mainLight);

}

.btn-yellow:hover{
  background: var(--mainOrange);
  color: var(--mainDark);

}
.footer{
  background: var(--mainBrown);
}
.navbar{
  background-color: var(--mainLight) !important;
}
.text-white{
  color: var(--mainLight) !important;
}
.menu,
.contact
{
  background-color: var(--mainYellow)
}